# hidden 
*~
._*
.#*
#*

# data etc
*.mat
*.tab
*.png
*.dat
*.pyc
*.txt
*.pyd
*.py#
*.arff
*.swp
data/
tools/
docs/

# OS files
*.DS_Store*

# directories that keep showing up
exp/12-03-elution/convert/
exp/12-03-tox/
